* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100%;
    background-image: url("road.jpg");
    min-height: 1500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a.button:link, a.button:visited {
    background-color: rgb(79, 153, 236);
    color: black;
    padding: 5px 5px;
}

a.button:hover, a.button:active {
    background-color: grey;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

.header {
    display: flex;
    background-color: grey;
    width: auto;
    text-align: center;
}

.navbar {
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    flex-direction: row;
    padding: 1rem;
}

.rounded {
    border: 1.5px solid black;
    border-radius: 0.5rem;
    margin: 1rem;
    padding: 1rem;
}

.div1 {
    grid-area: title;
}

.div2 {
    grid-area: input;
    background-color: rgb(210, 180, 140);
}

.div3 {
    grid-area: display;
}

.div4 {
    grid-area: tmode;
}

.grid {
    display: grid;
    width: 50%;
    margin: auto;
    margin-top: 1%;
    grid-template-areas: 'title' 'input' 'display' 'tmode';
    grid-gap: 5px;
    padding: 5px;
    border-radius: 5px;
}

.footer {
    position: absolute;
    width: auto;
    padding: 10px;
    bottom: 0;
    background-color: rgb(196, 67, 67);
    color: black;
    text-align: left;
}

input:invalid {
    border-color: red;
}

input:valid {
    border: 1px solid black;
}

form {
    background-color: rgba(210, 180, 140, 0.75);
    text-align: center;
}

h2 {
    border-bottom-style: solid;
}